@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }

span {
    word-wrap: break-word !important;
}

#mainSection {
    min-height: 92vh !important;
}

sub, sup { font-size: 65%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.1em; vertical-align: super;}
sub { bottom: -0.15em; vertical-align: sub;}

.marker {
    height: 22px;
    width: 22px;
    background-color: #fcb479;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, .5);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    display: inline-block;
}

.mapboxgl-popup-content {
    font-family: 'Inter';
    font-weight: 500;
    text-align: center;
}

::selection {
    background: #86c4d5;
    color: white;
}

/* Nav */

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;

}

.navbar {
    min-height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
} 

.hamburger {
    display: none;
    cursor: pointer;
}

@media(max-width: 1000px) {

    .navbar {
        padding: 0 3rem;
        width: 100%;
        position: fixed;
    }
    
    .hamburger {
        display: block;

    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 0px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        padding-right: 12vw;
        padding-left: 12vw;
        vertical-align: middle;
    }

    .nav-item {
        margin: 10px 0;
        padding: 0px !important;
        vertical-align: middle;
        width: 100%;
        align-items: center;
    }

    .nav-menu.active {
        left: 0;
    }
}

/* Index */

#hero-name {
  background: -webkit-linear-gradient(10deg, #86c4d5, #a4c3e1, #3F76B5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#hero-name::selection {
    -webkit-text-fill-color: white;
}

#hero-section {
    height: 75vh;
} 

@media (min-width: 1024px) {
    #hero-image {
        filter: drop-shadow(-1em 1em 0px #99cddc);

    }
}

@media (max-width: 1024px) {
    #hero-image {
        aspect-ratio: 1/1;
    }
}

#subhero-section {
    background-image: linear-gradient(
        to bottom,
        #C1E2E8,
        #80A5D0
    );
}

.hero-link {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    text-decoration-color: #99cddc;
    color: #99cddc;
    cursor: pointer;
    transition: text-decoration-color 0.2s ease-in, color 0.2s ease-in;
}

.hero-link:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    text-decoration-color: #3F76B5;
    color: #3F76B5;
    /*color: #3F76B5;*/
}

.underlined {
    text-decoration: underline 3px #86CBD5;
     text-underline-position: under;
     text-decoration-line: underline;
     text-decoration-color: #C1E2E8;
     text-decoration-thickness: 3px;
    -webkit-text-decoration-line: underline;
    -webkit-text-decoration-color: #C1E2E8;
    -webkit-text-decoration-thickness: 3px;
    cursor: pointer;
}

mark {
    background: linear-gradient(120deg, #99cddc 0%, #99cddc 100%);
    background-repeat: no-repeat;
    background-size: 100% 40%;
    background-position: 0 90%;
    color: rgb(38 38 38);
}

.hover {
    position: relative;
    top: 0px;
    transition: top ease 0.2s;
}

.hover:hover {
    top: -3px;
}

.hover-darken {
    position: relative;
    top: 0px;
    transition: top ease 0.2s, filter ease 0.5s ;
}

.hover-darken:hover {
    top: -3px;
    filter: brightness(85%);
}

#gradient {
    background: linear-gradient(to right,
    #8bc5cf,
    #8fcfe4,
    #80A5D0);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

/* Articles */

#article-hero-section {
    position: relative;
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px;
    word-wrap: break-all;
}

@media (min-width: 769px) {
    #article-hero-section img {
        height: 55vh;
    }
}

@media (max-width: 769px) {
    #article-hero-section img {
        height: 45vh; 
    }
}

#article-hero-section img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: blur(0.0px);
}

#article-content {
    word-wrap: break-word;
    width: 100%;
    max-width: 900px;
    margin-right: auto !important;
    margin-left: auto !important;
} 

#article-content .article-text {
    padding: 2rem;
}

.article-text div h1:first-child {
    margin-top: 0px !important;
}

#article-content h1 {
    margin-bottom: 1rem;
    margin-top: 2.25rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 500;
}

#article-content h3 {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    font-size: 1.5rem;
    line-height: 2rem;
}

#article-content p {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

#article-content p:not(:last-child) {
    margin-bottom: 0.5rem;
}

#article-content img {
    /* border-bottom-right-radius: 0.5rem; /* 8px */
    /* border-bottom-left-radius: 0.5rem; /* 8px */
    border-radius: 0.5rem;
    margin-top: 1em;
    margin-bottom: .5em;
}

#article-content video {
    /* border-bottom-right-radius: 0.5rem; /* 8px */
    /* border-bottom-left-radius: 0.5rem; /* 8px */
    border-radius: 0.5rem;
    margin-top: 1em;
    margin-bottom: .5em;
}

.article-img {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

#article-content sub {
    font-size: 1rem;
    line-height: 1.5rem;
}

.highlight {
    text-decoration: underline 3px #86CBD5;
    text-underline-position: under;
    text-decoration-line: underline;
    text-decoration-color: #C1E2E8;
    text-decoration-thickness: 3px;
    -webkit-text-decoration-line: underline;
    -webkit-text-decoration-color: #C1E2E8;
    -webkit-text-decoration-thickness: 3px;
    font-weight: 600;
}

#nomad-table {
    word-wrap: break-word;
    width: 100%;
    max-width: 900px;
    margin-right: auto !important;
    margin-left: auto !important;
    font-size: 1.25rem !important; /* 20px */
    line-height: 1.75rem !important; /* 28px */
    margin-bottom: 2em;
    background-color: rgb(243 244 246);
    table-layout: fixed !important;
    padding: 20px;
}

#nomad-table .table-cell {
    padding-bottom: 10px;
    width: 50%;
    text-align: center;
}

#about-image img {
    object-fit: cover;
    object-position: center;
    min-width: 100%;
    min-height: 100%;
    @media (min-width: 769px) {
        height: 93vh;
    }
}

span.underlined {
    white-space: nowrap;
}

.quote {
    border-left: 4px solid #86c4d5;
    padding-left: 25px;
    width: 100%;
    margin-bottom: 1em;
    margin-top: 1em;
}

.quote p {
    margin: 0px !important;
}

.quote-text {
    quotes: '\00AB' '\00BB' '\201E' '\201C';
    padding-bottom: 10px;
    font-size: 1.25rem !important; /* 20px */
    line-height: 1.75rem !important; /* 28px */
}

.quote-text::before {
    content: open-quote;
}

.quote-text::after {
    content: close-quote;
}

.quote-author {
    margin-left: auto;
    text-align: left;
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
	color: rgb(82 82 82);
}

.quote-author::before {
    content: "- ";
}

/* Buttons */

.button {
    background-color: #86c4d5;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 9999px;
}

/* Map */

#map {
    width: 100%;
    height: 35rem;
    margin-left: auto;
    margin-right: auto;
}


.mapboxgl-ctrl-attrib {
    display: none !important;
}

.mapboxgl-ctrl-logo {
    display: none !important;
}

/* Trips */

.trip-image {
    width: 100%;
    height: 66%;
    object-fit: cover;
}


.trip-image-container {
    position: relative;
}

.trip-image-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}

/* Trip modal */

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal-content {
    background-color: #fefefe;
    margin: 120px auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 87%; /* Could be more or less, depending on screen size */
    border-radius: 0.5rem; /* 8px */
  }

/* responsive br tag */

br.responsive {
    display: inline;
  }
  
@media (min-width: 769px) {
br.responsive {
    display: none; 
}
}

/* Work */

#work-popup {
    width: 100%;
}

#workexperience {
    width: 45vw;
} 